
.title{
  font-size: 50px;
  margin:0px;
  padding:0px;
  font-weight: bolder;
  background: -webkit-linear-gradient(#06f71e, #2dc0f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Overall layout */
.img_carousel {
  width: 90%;
  padding-bottom: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  
}
