.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-items: center;

  font-family: var(--font-geist-sans);
  background-color: #c4f030;
  /* background-image: linear-gradient(to bottom right,#30f033, #c4f030, #000000); */
  background-image: url("../assets/background.jpg");
  background-size: cover;

}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  margin: 2em;
  width: 90%;
  flex-grow: 1;
  /* background-color: aqua; */
}


.footer {
  width: 100%;
  background-color: #2c2f2c7e; /* bg-gray-800 */
  color: #6a38a0; /* text-white */
  padding: 1rem; /* p-4 */
  margin-top: 2rem; /* mt-8 */
}
.footer_content {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
    background-color: #383838;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
